<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Simple Recorder.js demo with record, stop and pause - addpipe.com</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

 <!-- <link rel="stylesheet" type="text/css" href="style.css">  -->

 <ion-toolbar>
  <ion-title>Doorbell</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="backhome()">Close</ion-button>
  </ion-buttons>
</ion-toolbar>


<body>
 <h1 style="padding-top: 10%;">Click the button below to ring again</h1>
 
 <div id="ringagain">
  <button (click)="clickme()" id="ring">Ring again</button>
 </div>


 <!---------------------------------------------  -------------------------------------------->
   <!-- <h1>Click the record button to start your recording</h1>

   <div id="controls">
    <button id="recordButton" >Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
   </div>
   <div id="formats">Format: start recording to see sample rate</div>
   <p><strong>Recordings:</strong></p>
   <ol id="recordingsList"></ol> -->

 <!---------------------------------------------  -------------------------------------------->

   <form name="myForm" onsubmit="return validateForm()" method="post">


      <label>
         <span>Pick a file</span>
         <input type="file" id="fileInput" required>
       </label>
       <label>
         <span>Caption</span>
         <input type="text" id="textInput" name="textInput">
       </label>


     <input type="submit" id="fileInput" value="Submit">
   </form>
 
 <!---------------------------------------------  -------------------------------------------->
 <ion-content>

  <ion-button expand="block" (click)="startRecording()">Start Recording</ion-button>
  <ion-button expand="block" (click)="clickme2()">Play Recording</ion-button>

  <!-- <ion-button expand="block" (click)="ringcheck()">replace text</ion-button> -->

</ion-content>

   <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
   <script src="js/recorder.js"></script>
   <script src="js/app.js"></script>
   <script src="js/nand.js"></script>


<!-- </html> -->
</body>